//@charset "utf-8"

@import "bourbon"
@import "base/base"
@import "neat"

@import "slabText/css/slabtext"

$projects-background: #091444
$photos-background: #222
$photos-text: #ccc

html
  box-sizing: border-box

*, *:before, *:after
  text-rendering: optimizeLegibility
  box-sizing: inherit

body
  margin: 0

h1
  font-size: 1.2em

// --- Layout ---

.container
  +outer-container
  margin: 0 auto
  width: 95%

nav
  font-size: 18px
  font-family: $heading-font-family

main
  +media($large-screen)
    +span-columns(12)
    +shift(1)
  ul
    @extend %default-ul
  ol
    @extend %default-ol
  a
    text-decoration: underline

footer
  padding: 3em

// --- Primary Navigation ---

nav.primary
  padding: 1em 0
  +display(flex)
  +align-items(baseline)

%nav-primary-active
  background: rgba(255, 255, 255, 0.2)
  
nav.primary
  .site-title
    +flex(1)
    font-size: 1.5em
    font-weight: 400
  ul
    text-transform: uppercase
    font-weight: 700
    +flex(2)
    text-align: right
  li
    display: inline
  a
    +transition(all .2s ease-in-out)
  ul a
    border-radius: .25em
    padding: .25em .5em
  .profile
    margin-right: 0


// --- Index ---

body.index
  a
    color: #fff
    text-decoration: none
  +linear-gradient(#110C4B, #51038d)
  min-height: 100vh
  //
    nav.primary
      ul
        display: none

.index-headline
  color: #fff
  .work
    font-family: "aw-conqueror-carved-two", $helvetica
  .projects
    font-family: "aw-conqueror-inline", $helvetica
  .profile
    font-family: "aw-conqueror-carved-three", $helvetica
  +media($large-screen)
    +span-columns(8 of 12)

#splash
  height: 100vh
  overflow: hidden
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  max-width: 2454px
  margin: 0 auto
  position: relative
  img
    width: 100%

  .photo_caption
    display: block
    position: absolute
    right: 0
    bottom: 5%
    padding: .5em 2em .5em 1em
    background: $photos-background
    color: $photos-text
    strong
      display: block

// Work

body.work
  +linear-gradient(#FE9B2D, #E72C3F, #51038d)
  min-height: 300vh
  color: #fff
  a
    color: #fff
  a.button
    border: 1px solid #fff
    background: transparent
  nav.primary a.work
    @extend %nav-primary-active

// Projects

body.projects
  //+linear-gradient(#01b089, #51038d)
  +linear-gradient(#00C59B, #51038d)
  min-height: 300vh
  color: #fff
  nav.primary a.projects
    @extend %nav-primary-active
  a
    color: #fff
  header
    text-align: center

body.work, body.projects
  h2
    padding-bottom: .4em
    border-bottom: 1px solid rgba(255,255,255,0.3)

// Photos

body.photos
  background: $photos-background
  color: $photos-text
  nav.primary
    a.photos
      @extend %nav-primary-active
    a
      color: $photos-text

nav.photos
  +flex(none)
  width: 15em
.photoset 
  width: 100%
  //+column-count(4)
  +display(flex)
  +flex-wrap(wrap)
  +align-items(center)
  img
    display: block
    +flex(1 1 33%)

.photo
  margin: 0 auto
  img
    width: auto
    height: auto
    max-width: 95vw
    max-height: 95vh

// Posts

body.posts
  background: #FAFAFA
  nav.primary a.posts
    @extend %nav-primary-active

// Profile

body.profile
  +linear-gradient(#55C635, #EEE903)
  min-height: 300vh
  color: #fff
  nav.primary a.profile
    @extend %nav-primary-active
  a
    color: #fff


@media only screen and (max-width: $break-large)
  .photoset ul
    //+column-count(3)

@media only screen and (max-width: $break-medium)
  .photoset ul
    //+column-count(2)

@media only screen and (max-width: $break-small)
  body.photos main
    +flex-wrap(wrap)
  nav.photos
    flex: 0 0 100%


