//@charset "utf-8"

@import "bourbon"
@import "base/base"
@import "neat"

@import "slabText/css/slabtext"

$projects-background: #091444
$photos-background: #222
$photos-text: #ccc

html
  box-sizing: border-box

*, *:before, *:after
  text-rendering: optimizeLegibility
  box-sizing: inherit

$selection-color: #fff0b9

::-moz-selection
  background: $selection-color

::selection
  background: $selection-color

body
  margin: 0

h1
  font-size: 1.2em

// --- Layout ---

.container
  +outer-container
  margin: 0 auto
  width: 95%

nav
  font-size: 18px
  font-family: $heading-font-family

main
  +media($large-screen)
    +span-columns(12)
    +shift(1)
  ul
    @extend %default-ul
  ol
    @extend %default-ol
  a
    text-decoration: underline

footer
  padding: 3em

// --- Primary Navigation ---

nav.primary
  padding: 1em 0
  +display(flex)
  +align-items(baseline)

%nav-primary-active
  background: rgba(255, 255, 255, 0.2)
  
nav.primary
  .site-title
    +flex(1)
    font-size: 1.5em
    font-weight: 400
  ul
    text-transform: uppercase
    font-weight: 700
    +flex(2)
    text-align: right
  li
    display: inline
  a
    +transition(all .2s ease-in-out)
  ul a
    border-radius: .25em
    padding: .25em .5em
  .profile
    margin-right: 0


// --- Index ---

body.index
  a
    color: #fff
    text-decoration: none
  +linear-gradient(#110C4B, #51038d)
  min-height: 100vh

.index-headline
  color: #fff
  .work
    font-family: "aw-conqueror-carved-two", $helvetica
  .projects
    font-family: "aw-conqueror-inline", $helvetica
  .profile
    font-family: "aw-conqueror-carved-three", $helvetica
  +media($large-screen)
    +span-columns(7 of 12)
    +shift(2 of 12)

#splash
  height: 100vh
  overflow: hidden
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  max-width: 2454px
  margin: 0 auto
  position: relative
  img
    width: 100%

  .photo_caption
    display: block
    position: absolute
    right: 0
    bottom: 5%
    padding: .5em 2em .5em 1em
    background: $photos-background
    color: $photos-text
    strong
      display: block


// --- Work ---

$work-text-color: #fff
$work-intro-color: #643C53

body.work
  +linear-gradient(#FE9B2D, #E72C3F, #51038d)
  min-height: 300vh
  color: $work-text-color
  a
    color: $work-text-color
  a.button
    border: 1px solid $work-text-color
    background: transparent
  nav.primary a.work
    @extend %nav-primary-active

.portfolio-display
  h1
    font-family: $base-font-family
    color: $work-intro-color
    margin: 0
  figure
    margin: 0.5em 0
  figcaption
    margin-bottom: 1em
  .subhead
    color: $work-intro-color
  +media($large-screen)
    p, ul, ol
      +span-columns(8 of 12)

.work-headline
  font-weight: normal
  color: $work-intro-color
  .lets-build-something
    font-family: "aw-conqueror-carved-two", $helvetica
    line-height: 1
  .wonderful
    font-family: "aw-conqueror-carved", $helvetica
    line-height: 0.8

.work-intro
  color: $work-intro-color
  margin-top: 1em

.moving-callout
  background: rgba(255, 255, 255, 0.1)
  padding: 0.5em
  margin: 0 -0.5em 0 -0.5em

.work-contact
  margin: 1em 0

.work-tech
  padding-top: 1.5em

.work-portfolio
  padding-top: 1em
  figure
    border-radius: 5px
    background: rgba(255, 255, 255, 0.1)
    margin: 0
    padding-bottom: 0.5em
    margin-bottom: 1em
    img
      width: 100%
      padding: 0.5em 0.5em 0
    figcaption
      padding: 0 0.5em
  .title
    text-decoration: none
    font-weight: 600
  .subtitle
    font-size: 0.8em
    color: rgba(255, 255, 255, 0.7)
    margin: 0

+media($medium-screen)
  .work-portfolio
    figure
      +span-columns(4)
      +omega(2n)

+media($large-screen)
  .work-headline
    +span-columns(11 of 12)

  .work-intro
    +span-columns(8 of 12)

  .work-contact
    +span-columns(3 of 12)
    +omega
    .button
      width: 100%
      text-align: center
      margin-bottom: .5em

  +keyframes(planeIn)
    from
      +transform(translateX(-50px) scale(0.1,0.1))
      opacity: 0
    to
      +transform(translateX(0) scale(1,1))
      opacity: 1

  .moving-callout
    position: relative
    &::before
      opacity: 0
      +animation(planeIn 0.6s ease-in-out)
      +animation-iteration-count(1)
      +animation-fill-mode(forwards)
      +animation-delay(0.5s)
      color: #fff
      content: "✈︎"
      font-size: 2em
      position: absolute
      top: -0.2em
      left: -1em

  .work-tech
    +span-columns(12 of 12)
    p
      +span-columns(8 of 12)

  .work-portfolio
    +span-columns(12 of 12)
    figure
      +span-columns(4 of 12)
      +omega(3n)


// --- Projects ---

body.projects
  +linear-gradient(#00C59B, #51038d)
  min-height: 200vh
  color: #fff
  nav.primary a.projects
    @extend %nav-primary-active
  a
    color: #fff

.projects-headline
  .hacks-experiments
    font-family: "aw-conqueror-inline", $helvetica
    line-height: 1
  .volunteer-endeavors
    font-family: "aw-conqueror-carved-two", $helvetica
    line-height: 1

.projects-list
  margin-top: 1.5em


+media($large-screen)
  .projects-list
    h2
      +span-columns(12 of 12)
    p, ul, ol
      +span-columns(8 of 12)

  .projects header
    +span-columns(11 of 12)

body.work, body.projects
  h2
    padding-bottom: .4em
    border-bottom: 1px solid rgba(255,255,255,0.3)

// --- Photos ---
body.photos
  background: $photos-background
  +linear-gradient(#04233C, #054355)
  min-height: 100vh
  color: $photos-text
  nav.primary
    a.photos
      @extend %nav-primary-active
    a
      color: $photos-text
  a
    color: $photos-text
  a.button
    border: 1px solid $work-text-color
    background: transparent

//
  nav.photos
    +flex(none)
    width: 15em
  .photoset
    width: 100%
    //+column-count(4)
    +display(flex)
    +flex-wrap(wrap)
    +align-items(center)
    img
      display: block
      +flex(1 1 33%)
  .photo
    margin: 0 auto
    img
      width: auto
      height: auto
      max-width: 95vw
      max-height: 95vh

// --- Posts ---
  body.posts
    background: #FAFAFA
    nav.primary a.posts
      @extend %nav-primary-active

// --- Profile ---

body.profile
  +linear-gradient(#00C59B, #55C635, #EEE903)
  //+linear-gradient(#00C59B, #51038d)
  min-height: 200vh
  color: #fff
  nav.primary a.profile
    @extend %nav-primary-active
  a
    color: #fff

  .h-card
    .p-name
      display: none
    .u-email, .u-tel, .keys
      padding-left: 6.6em
      display: block
    .keys
      margin-top: 0.5em
    .type
      color: rgba(0,0,0,0.4)
      display: inline-block
      width: 6em
      margin-right: 0.5em
      text-align: right

.profile-headline
  font-family: "aw-conqueror-carved-three", $helvetica

+media($large-screen)
  .profile-headline
    +span-columns(11 of 12)

