---
title: ArcGIS Explorer Online Critique
subtitle: Design Critique
list_image: work/list-arcgis-online-crit-[size].png
order: 65
---

:markdown
  I was once asked as part of an interview to critique the design and usability of a complex web application. I chose to examine Esri's [ArcGIS Explorer Online](http://www.arcgis.com/explorer/) and produced a document highlighting interface inconsistencies and offering suggestions for improvement.

%p
  = link_to "View critique (PDF)", "../../files/ArcGIS_Explorer_Online_Crit.pdf", class: "button"

= link_to "../../files/ArcGIS_Explorer_Online_Crit.pdf" do
  = srcset_image_tag("work/detail-arcgis-online-crit-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

