---
title: Folded
subtitle: Zine Project
list_image: work/list-folded-[size].png
order: 140
---

:markdown
  _Folded_, is an origami zine concept I created for a magazine project at PNCA.

= srcset_image_tag("work/detail-folded-0-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-folded-2-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-folded-3-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

