:markdown
  # Let's build something great!

  I'm a design technologist who likes to make things. Fusing a design background with years of software development experience, I've helped both early-stage and established companies solve problems and turn ideas into reality. I'm particularly fond of maps, data visualization, and bright colors.

  ✈︎ In September, I'm moving to Stockholm, Sweden for a year. I'm currently seeking remote-friendly work or employment in Stockholm, either on a contract or full-time basis. I have experience working and communicating well on distributed teams.

  Want to work together? [Drop me a line.](mailto:mail@reidbeels.com)

  <a class="button" href="http://rsm.io/reid">View Resume</a>

  ## Selected Work

