---
title: Local Bite
subtitle: Website Concept
list_image: work/list-localbite-[size].png
order: 160
---

:markdown
  Web concept and design aimed to make information from [Ecotrust](http://ecotrust.org)'s annual _Guide to Local and Seasonal Products_ more accessible to Portland-area diners.

= srcset_image_tag("work/detail-localbite-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-localbite-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-localbite-3-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-localbite-4-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
