---
title: Museum of Electricity
subtitle: Identity, Materials
list_image: work/list-museum-of-electricity-[size].png
order: 170
---

:markdown
  Identity and materials for a fictional _Museum of Electricity_ housed in the historic powerhouse of the Pratt Instutute.

= srcset_image_tag("work/detail-museum-of-electricity-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-museum-of-electricity-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-museum-of-electricity-3-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

