---
title: T&apos;s Restaurant &amp; Bar
subtitle: Identity, Website, Advertising
list_image: work/list-ts-[size].png
order: 80
---

:markdown
  In 2007, one of my best friends and her mother opened a restaurant in downtown Ashland, Oregon. I worked with them on all of their design needs for the upstart business and ate a lot of tasty food.

= srcset_image_tag("work/detail-ts-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-ts-2-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-ts-3-[size].jpg", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

