---
title: Unicorn Gifts &amp; Toys
subtitle: Identity, Website, Advertising
list_image: work/list-unicorn-[size].png
order: 70
---

:markdown
  I'm not going to lie: growing up in a toy store was pretty great. First owned by my grandmother and now by my parents, Unicorn Gifts &amp; Toys is a lovely little shop in downtown Ashland, Oregon.

  I designed this logo in 2006 and this version of their simple business website in 2014.

%p
  = link_to "Visit <em>Unicorn Gifts &amp; Toys</em>", "http://unicornstore.com", class: "button"

= srcset_image_tag("work/detail-unicorn-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
= srcset_image_tag("work/detail-unicorn-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
