---
title: Wikimedia Commons
subtitle: Logo Design
list_image: work/list-wikimedia-[size].png
order: 100
---
:markdown
  In 2004, I proposed six mark variations in a contest to pick a new logo for [Wikinews](https://www.wikinews.org). They were meant to work within the visual language established by the [Wikimedia Foundation logo](https://wikimediafoundation.org/wiki/Wikimedia_trademarks#/media/File:Wikimedia-logo.svg) and to convey a sense of many things coming together and being published as a larger whole.

  It was suggested that they might be a better fit for [Wikimedia Commons](https://commons.wikimedia.org), which was also seeking a logo design, and one was ultimately chosen for that purpose. (The little crook in the neck of this logo still bugs me to this day.)

= srcset_image_tag("work/detail-wikimedia-commons-1-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)

%figure
  %figcaption Original Wikinews logo submissions
  = srcset_image_tag("work/detail-wikimedia-commons-2-[size].png", srcset_widths: [700, 1400, 2800], default_width: 1400, sizes: "95vw", width: 1400)
