@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 4;
$max-width: 1750px;

$medium-screen: new-breakpoint(min-width $break-medium max-width $break-large 8);
$large-screen: new-breakpoint(min-width $break-large 13);

/*$visual-grid: true;*/
