.index-headline
  .work
    %span.slabtext
      Design
    %span.slabtext
      &amp; Code,
    %span.slabtext
      Photos
    %span.slabtext
      &amp; Feelings
  -#
    .work
      = link_to "Work", "/work"
    .projects
      = link_to "Projects", "/projects"
    .profile
      = link_to "Profile", "/profile"
