= javascript_include_tag "http://cdn.jsdelivr.net/vivus/0.2.1/vivus.min.js"

%div#logo-test

%style
  body { background: blue }

%script
  new Vivus('logo-test', {type: 'oneByOne', duration: 50, file: "/images/rb-sig.svg"})
