---
title: Profile
---

%h1.headline.profile-headline
  Get in touch

.h-card
  .p-name Reid Beels
  %a.u-email{href: 'mailto:mail@reidbeels.com', rel: "me"} mail@reidbeels.com
  %a.u-tel{href: "tel:+1-503-928-6759"} +1 503 928 6759
  %div
    %span.type IRC
    %a.p-nickname.u-url{href: 'irc://irc.freenode.net/reidab,isnick'} reidab on irc.freenode.net
  %div
    %span.type iMessage
    %a.u-url{href:'imessage:mail@reidbeels.com'} mail@reidbeels.com
  %div
    %span.type gTalk
    %a.u-url{href: 'gtalk:call?jid=reidab@gmail.com'} reidab@gmail.com
  %div
    %span.type Twitter
    %a.p-nickname.u-url{href: 'https://twitter.com/reidab', rel: 'me'} @reidab
  %div
    %span.type Flickr
    %a.u-url{href: 'https://flickr.com/photos/reidab', rel: 'me'} reidab
  %div
    %span.type Instagram
    %a.u-url{href: 'https://instagram.com/reidab', rel: 'me'} reidab
  %div
    %span.type GitHub
    %a.u-url{href: 'https://github.com/reidab', rel: 'me'} reidab
  %div
    %span.type Pinboard
    %a.u-url{href: 'https://pinboard.in/u:reidab', rel: 'me'} reidab

  .keys
    Public keys for
    %a.u-key{href: '/id/reidbeels_ssh_key.txt'} SSH
    and
    %a.u-key{href: '/id/reidbeels.gpgkey'} GPG

